<app-header-principal></app-header-principal>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="agregarElemento()">Click</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="inline">
        <div *ngFor="let element of arreglo; let i = index">
          {{'Soy el indice' + (i + 1)}}
          <div [ngClass]="{'mi-clase':element > 8}" [ngStyle]="{border:element > 7?'1px solid red':''}">
            {{element}}
            <app-product *ngIf="element > 6"></app-product>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-loader></app-loader>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-lista-personas></app-lista-personas> 
    </div>
  </div>
</div>
